h2,
h3 {
  color: #231f20;
}

footer,
footer a,
footer a:hover {
  color: #fff;
}

footer {
  background-color: #4f4f4f;
}

.logo {
  margin-top: 5px;
}

.navbar {
  background-color: #4f4f4f;
}

.pa-banner {
  background-image: url("../pics/banner3.jpg");
}

.banner-2 {
  background-image: url("../pics/logo_office2.png");
}

.banner-lifestyle {
  background-image: url("../pics/spinner-lifestyle.jpg");
  background-repeat: no-repeat;
}

.pa-banner-heading {
  text-shadow: 0 0 20px black;
}

.pa-banner-sub-heading {
  text-shadow: 0 0 10px black;
}

.contact-pic {
  max-width: 100%;
  padding-bottom: 20px;
}

.logo-banner {
  width: 20%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-newsletter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}

.pa-btn-banner:hover {
  background-color: #231f20;
  color: #fff;
  border-color: #231f20;
}

.btn-other {
  color: #231f20;
  border-color: #231f20;
  background-color: transparent;
}

.btn-other:hover {
  background-color: #231f20;
  color: #fff;
  border-color: #231f20;
}

@media screen and (width <= 768px) {
  .btn-lg {
    width: 100%;
    margin-bottom: 35px;
  }

  .form-newsletter {
    min-width: 100%;
  }
}

@media screen and (width <= 480px) {
  .logo {
    font-size: 150px;
  }
}

/* For width 1024 and larger: */
@media only screen and (width <= 1024px) {
  .logo-banner {
    width: 30%;
    height: auto;
  }
}

#spinner {
  animation: spin 2.5s linear infinite;
  margin-top: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
