body {
  margin: auto;
  background-color: white;
  color: #515151;
  font: 15px Helvetica, sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #0dc100;
}

div.bg-header {
  height: 50px;
  background-color: #d0f0ef;
}

/* Tables */
table.index-title {
  width: 1024px;
}

td.index-data {
  width: 512px;
  padding: 10px;
}

td.column-data {
  padding: 30px;
}

h3 {
  padding: 20px;
  text-align: center;
}

footer {
  padding: 10px 0 30px;
  text-align: center;
}

.columns {
  padding: 10px 30px;
}

.logo {
  float: left;
  padding-top: 12px;
  width: 340px;
  height: 40px;
}
