.navbar,
footer {
  background-color: #231f20;
}

footer,
footer a {
  color: #fff;
}

h2 {
  color: #231f20;
}

.pa-banner {
  background-image: url("../pics/studio.jpg");
}

.banner-nick-cd {
  background-image: url("../pics/nick_justin.jpg");
  background-position: 0 60px;
  background-repeat: no-repeat;
}

.banner-gradient {
  background-image: linear-gradient(141deg, #390042, #007dda, #000);
  background-image: -webkit-linear-gradient(141deg, #390042, #007dda, #000);
  background-image: -o-linear-gradient(141deg, #390042, #007dda, #000);
}
