html {
  overflow-x: hidden;
}

body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #818181;
  overflow: none;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #390042;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;
}

h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}

.jumbotron {
  background-image: url("../pics/banner.jpg");
  text-align: center;
  border-bottom: 10px solid #390042;
  padding: 10% 6% 20%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  text-shadow: 0 0 20px black;
  position: relative;
  background-size: 100%;

  /* background-position: 0px 75px; */

  /* margin: -25px 0px; */

  /* -webkit-background-size: cover; /* For WebKit */

  /* -moz-background-size: cover;    /* Mozilla */

  /* -o-background-size: cover;      /* Opera */

  /* background-size: cover;         /* Generic */
}

@media (width <= 900px) {/* tells browser what size screen to collapse on */
  .jumbotron {
    background-image: url("assets/banner-small.jpg");
    text-align: center;
    border-bottom: 10px solid #390042;
    padding: 15% 15% 20%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    background-position: 0 25px;
    color: white;
    text-shadow: 0 0 20px black;
    background-size: 130%;

    /* background-position: -80px 0px; */

    /* -webkit-background-size: cover; /* For WebKit */

    /* -moz-background-size: cover;    /* Mozilla */

    /* -o-background-size: cover;      /* Opera */

    /* background-size: cover;         /* Generic */

    /* margin: -25px 0px; */
  }
}

/****************************   */

/***** DARKEN BANNER FIX *****/

/* http://stackoverflow.com/questions/36389481/how-to-darken-the-background-image-in-css */
.jumbotron::after {
  content: " ";
  z-index: 0;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgb(0 0 0 / 25%);
}

.jumbotron-text {
  position: relative;
  z-index: 10;
}

.container-fluid {
  padding: 60px 50px;
}

.bg-grey {
  background-color: #f6f6f6;
}

.logo-small {
  color: #390042;
  font-size: 50px;
}

.logo {
  color: #390042;
  font-size: 200px;
}

.thumbnail {
  padding: 0 0 15px;
  border: none;
  border-radius: 0;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.carousel-control.right,
.carousel-control.left {
  background-image: none;
  color: #390042;
}

.carousel-indicators li {
  border-color: #390042;
}

.carousel-indicators li.active {
  background-color: #390042;
}

.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}

.item span {
  font-style: normal;
}

.panel {
  border: 1px solid #390042;
  border-radius: 0 !important;
  transition: box-shadow 0.5s;
}

.panel:hover {
  box-shadow: 5px 0 40px rgb(0 0 0 / 20%);
}

.panel-footer .btn {
  margin: 15px 0;
  background-color: #390042;
  color: #fff;
}

.panel-footer .btn:hover {
  border: 1px solid #390042;
  background-color: #fff !important;
  color: #390042;
}

.panel-heading {
  color: #fff !important;
  background-color: #390042 !important;
  padding: 25px;
  border-bottom: 1px solid transparent;
  border-radius: 0;
}

.panel-footer {
  background-color: white !important;
}

.panel-footer h3 {
  font-size: 32px;
}

.panel-footer h4 {
  color: #aaa;
  font-size: 14px;
}

.navbar {
  margin-bottom: 0;
  background-color: #390042;
  z-index: 9999;
  border: 0;
  font-size: 14px !important;
  line-height: 1.4286 !important;
  letter-spacing: 2px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
}

.navbar li a,
.navbar .navbar-brand {
  color: #fff !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: #390042 !important;
  background-color: #fff !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

.navbar-default .navbar-toggle:hover {
  background-color: #390042;
}

.icon-bar {
  background-color: white !important;
}

footer .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: #390042;
}

.slideanim {
  visibility: hidden;
}

.slide {
  animation-name: slide;
  animation-duration: 1s;
  visibility: visible;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media screen and (width <= 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }

  .btn-lg {
    width: 100%;
    margin-bottom: 35px;
  }
}

@media screen and (width <= 480px) {
  .logo {
    font-size: 150px;
  }
}

.btn-default {
  background-color: transparent;
  color: #390042;
  border-color: #390042;
}

.btn-banner {
  color: white;
  border-color: white;
}

.btn-banner:hover {
  background-color: #390042;
  color: white;
  border-color: white;
}

.btn-other {
  color: #390042;
  border-color: #390042;
}

.btn-other:hover {
  background-color: white;
  color: #390042;
  border-color: #390042;
}

/****************************   */

/***** YOUTUBE VIDEO FIX *****/

/* https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php */
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/****************************   */

/***** IPAD COLLAPSE FIX *****/

/* http://stackoverflow.com/questions/31392219/navbar-not-collapse-on-ipad-bootstrap-3 */
@media (width <= 1200px) {/* tells browser what size screen to collapse on */
  .navbar-header {
    float: none;
  }

  .navbar-left,
  .navbar-right {
    float: none !important;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 10%);
  }

  .navbar-fixed-top {
    top: 0;

    /* border-width: 0 0 1px; */

    /* THIS MESSES WITH TOP/BOTTOM MARGIN */
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }

  .navbar-nav > li {
    float: none;
  }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .collapse.in {
    display: block !important;
    height: 100%;
  }
}
