/** stylesheet.css for Find One Generation **/

/* Body */
body{margin:auto;background-color:white;color: #515151; font:15px Helvetica;overflow-x: hidden}


/* Nav */
a{text-decoration: none;color: #0dc100;}
div.bg_header{height: 50px; background-color:#d0f0ef;}



/* Tables */
table.index_title{width:1024px;}
td.index_data{width:512px;padding:10px;}  /* Change to justify */
td.column_data{padding:30px;}  /* Change to justify */



h3{padding:20px;text-align: center;}  /* Change to justify */
footer{padding: 10px 0px 30px 0px;text-align: center;}


.columns {
	padding: 10px 30px;
}

.logo {
	float:left;
	padding-top:12px;
	width:340px;
	height: 40px;
}